{{- if eq .chezmoi.hostname "penguin"}}
set -gx PATH $PATH ~/.local/bin
set -gx PATH $PATH ~/go/bin
set -gx GPG_TTY (tty)

alias tma="tmux attach-session"
alias pbcopy="xclip -selection clipboard"
alias pbpaste="xclip -selection clipboard -o"

{{- else if eq .chezmoi.os "darwin" }}
set -gx PATH $PATH ~/.local/bin
set -gx PATH $PATH ~/go/bin
set -gx PATH $PATH ~/bin
{{- if or (eq .chezmoi.hostname "Adams-MBP") (eq .chezmoi.hostname "Adams-MacBook-Pro")}}
set -gx PATH $PATH ~/bin/ziginstall
{{- end  }}
set -gx PATH $PATH /opt/homebrew/bin
set -gx GPG_TTY (tty)
{{- if or (eq .chezmoi.hostname "Adams-MBP") (eq .chezmoi.hostname "Adams-MacBook-Pro")}}
# The next line updates PATH for the Google Cloud SDK.
if [ -f '/Users/adam/google-cloud-sdk/path.fish.inc' ]; . '/Users/adam/google-cloud-sdk/path.fish.inc'; end
{{- end  }}
{{- end  }}

~/bin/gvm 1.19 | source
set -g fish_greeting
fish_vi_key_bindings
jump shell fish | source
starship init fish | source
alias nv="neovide"
alias n3="nnn"

