local wezterm = require 'wezterm'

return {
    font = wezterm.font('Hasklug Nerd Font Mono', { weight = 'DemiBold' }),
    color_scheme = 'ibm3270 (Gogh)',
    enable_tab_bar = false,
    {{- if eq .chezmoi.os "darwin" }}
    window_background_opacity = 0.92,
    {{- else }}
    window_background_opacity = 0.95,
    {{- end }}
	{{- if (eq .chezmoi.hostname "penguin") }}
    font_size = 15,
    {{- end }}
}

