[url "ssh://git@github.com/"]
	insteadOf = https://github.com/
[user]
	name = tauraamui
	email = adampstringer@protonmail.com
{{- if or (eq .chezmoi.hostname "Adams-MBP") (eq .chezmoi.hostname "Adams-MacBook-Pro") (eq .chezmoi.hostname "Adam-Stringers-MacBook-Pro") (eq .chezmoi.hostname "Adams-Mac-mini") (eq .chezmoi.hostname "penguin") }}
	{{- if or (eq .chezmoi.hostname "Adams-MBP") (eq .chezmoi.hostname "Adams-MacBook-Pro") (eq .chezmoi.hostname "Adam-Stringers-MacBook-Pro")}}
	signingkey = 1062B59D5867C843
	{{- else if (eq .chezmoi.hostname "Adams-Mac-mini") }}
	signingkey = 12FB7EFE3549A1F5
	{{- else if (eq .chezmoi.hostname "penguin") }}
	signingkey = 2C6AB603B3FCD013
	{{- end }}
[commit]
	gpgsign = true
{{- if or (eq .chezmoi.hostname "Adams-MBP") (eq .chezmoi.hostname "Adams-MacBook-Pro")}}
[filter "lfs"]
	required = true
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
{{- end}}
{{- end }}
